.navbar{
	padding-top: 15px;
	padding-bottom: 15px;
}
hr{
	border-color:#000000;
}
#panel-img{
	width:400px;
	height:;
}
.service-thumb{
	float:left;
}
.service-thumb img{

}
.service-section{
	margin-bottom: 40px;
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
	
}